section7\vue-first-app\node_modules
section7\vue-cli-01-a-new-vue-project\node_modules
section8\cmp-communication-01-starting-setup\node_modules
section8\cmp-communication-assignment-problem\\node_modules
section 9\cmp-adv-01-starting-setup\node_modules