section7\vue-first-app\node_modules
section7\vue-cli-01-a-new-vue-project\node_modules
section8\cmp-communication-01-starting-setup\node_modules
section8\cmp-communication-assignment-problem\\node_modules
section 9\cmp-adv-01-starting-setup\node_modules
section 10\project-starting-setup\node_modules
section 10\the learning app small project\node_modules
section 11\forms-01-starting-setup\node_modules
section 12\http-01-starting-setup\node_modules
section 13\routing-01-starting-setup\node_modules
section 14\animations-01-starting-setup\node_modules
section 15\vuex-01-starting-setup\node_modules
section 15\vuex-11-a-challenge-starting-code\node_modules
section 15\vuex-11 - exercise - my version\node_modules
section 15\vuex-11 - exercise - lector version\node_modules